.btn {
  width: 190px;
  height: 52px;
  border-radius: 14px;
  font-size: 16px;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  border: none;

  transition: transform 0.25s ease, box-shadow 0.35s ease, filter 0.25s ease;
}

.btn:hover {
  transform: scale(1.08);
  filter: brightness(1.1);
}

/* explore glow */
.btn-explore {
  background: #0077ff;
  color: #111;
  box-shadow: 0 0 14px rgba(0, 119, 255, 0.25);
}

.btn-explore:hover {
  box-shadow: 0 0 25px rgba(0, 119, 255, 0.7),
              0 0 60px rgba(0, 119, 255, 0.35);
}

/* support glow */
.btn-support {
  background: rgba(10, 10, 10, 0.9);
  color: white;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
}

.btn-support:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.9),
              0 0 60px rgba(0, 0, 0, 0.4);
}
